.recipe-author-box {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em;
  background: #f6f6f6;
  //text-align: center;
}

@media screen and (min-width: 40em) {
  .recipe-author-box {
    flex-direction: row;
    text-align: unset;
  }
  .recipe-author-img {
    flex-basis: 120px;
  }

  .recipe-author-desc {
    flex-basis: calc(100% - 120px);
  }
}



