.recipe-archive-key-value {
  text-transform: capitalize;
}

.recipe-archive-key {
  display: inline-block;
  min-width: 7em;
}

.recipe-keypoints {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Flexbox stuff */

.recipe-cards {
  display: flex;
  flex-wrap: wrap;

  &:after {
    content: "";
    flex: auto;
  }

  @import "recipe_archive_masonry";

}

.recipe-card {
  display: flex;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  margin-bottom: 0.3em;
  justify-content: space-between;

  .recipe-link {
    color: transparent;

    img {
      max-width: 100%;
      height: auto;
    }

    &:hover {
      box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    }
  }

  .recipe-img-cont {

    .recipe-cards & {
      margin-bottom: 0;
    }

  }

  .recipe-card-content {
    padding: 1em 0.5em;
    font-size: 0.8em;

    .recipe-archive-title {
      //margin-top: 0;
      * {
        margin-top: .5em;
        margin-bottom: 0.5em;
      }
    }

    .recipe-archive-excerpt {
      p {
        margin-bottom: 0;
      }
    }

  }

  .recipe-card-content p {
    font-size: 100%;
  }

  @import "recipe_archive_modern";
  @import "recipe_archive_overlay";

}

.recipes-layout-grid {
  .recipe-card {

    .recipe-link {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      flex: 1;

      .recipe-card-content {
        justify-content: flex-start;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1;

        .recipe-keypoints {
          padding-top: 5px;
          padding-bottom: 5px;
        }

      }

    }

  }
}

.recipes-layout-list {

  .recipe-card {
    //flex-basis: 50%;

    .recipe-link {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-basis: 100%;

      .recipe-img-cont {
        flex-basis: 100px;
      }
    }


    .recipe-card-content {
      padding: .5em 1em;
      flex-basis: calc(100% - 300px);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .recipe-archive-excerpt {
        p {
          font-size: 0.8em !important;
          line-height: 1.5em;

        }
      }

    }

    .recipe-keypoints {
      display: flex;
      justify-content: space-around;
      font-size: .85em;


      // flex-direction: unset;
      flex-basis: 150px;

      .archive-key-point {
        width: 100%;
        padding: .25em 1em;

        &.key-point-total_time {
          background: rgba(0, 0, 0, 0.10);
        }

        &.key-point-difficulty_level {
          background: rgba(250, 250, 250, 0.10);
        }
      }

      .recipe-archive-key {
        min-width: unset;
      }

      .recipe-archive-key-value {
        vertical-align: middle;
      }

      //.recipe-archive-icon {
      //  vertical-align: middle;
      //}

    }
  }
}

// For Medium Screens
@media screen and (min-width: 600px) {

  .recipe-card {
    margin-bottom: 0.2em;

    .recipe-card-content {
      font-size: 1em;
    }

    &.overlay-archive {

      :not(.per-row-2) & {
        .recipe-card-content {
          width: 75%;
        }
      }

      .per-row-2 & {
        .recipe-card-content {
          width: 100%;
        }
      }
    }

  }

  .recipes-layout-list {
    .recipe-card {
      //flex-basis: 50%;
      .recipe-link {
        .recipe-img-cont {
          flex-basis: 150px;
        }
      }

      .recipe-card-content {
        flex-basis: calc(100% - 300px);
      }
    }

    .recipe-link {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-basis: 100%;

      .recipe-img-cont {
        flex-basis: 150px;
      }
    }

  }

}

// For big screens
@media screen and (min-width: 768px) {


    .per-row-5 {
      //&:not(.recipes-layout-overlay),
      &:not(.recipes-layout-list):not(.recipes-layout-overlay) {
        .recipe-card {
          width: 20%;
        }
      }

    }

    .per-row-4 {
      &:not(.recipes-layout-list):not(.recipes-layout-overlay) {
        .recipe-card {
          width: 25%;
        }
      }
    }

    .per-row-3 {
      //&:not(.recipes-layout-overlay),
      &:not(.recipes-layout-list):not(.recipes-layout-overlay) {
        .recipe-card {
          width: 33.33%;
        }
      }

    }

    .per-row-2 {
      &:not(.recipes-layout-list) {
        .recipe-card {
          width: 50%;
        }
      }
    }

    .per-row-1 {
      .recipe-card {
        width: 100%;
      }


      .recipe-img-cont {
        img {
          width: 100%;
        }
      }
    }
}

span.recipe-archive-key:after {
  content: ':';
  margin-right: 0.2em;
}

.says, .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.recipe-pagination {
  display: block;
}

.recipe-layout-selector-cont {
  justify-content: flex-end;
  display: flex;
  padding: 0 0.5em;

  span {
    padding-left: 0.5em;
    cursor: pointer;
  }
}
