.slider-image-section , .slider-thumbs-section{
  border-top: 0;
  border-bottom: 0;
}

.slider-image-section {
  margin-bottom: 0;
}

.slider-thumbs-section{
  padding: 0.5em;
  background-color: #e7f1e6;
}


.flex-direction-nav a:before {
  font-size: 2em;
}