/*Recipe Styling Begin here*/
@use "./functions" as *;
@use "./variables" as *;
//Debugging
//@use "debug";
@use "./forms";
@use "./recipe_archive";
@use "./recipe_widgets";
//@use "svg_icons";
//
//.gridcontainer h2 a{color: #333; font-size: 13px;}
//.gridcontainer .griditemleft{float: left; width: 150px; margin: 0 30px 20px 0;}
//.gridcontainer .griditemright{float: left; width: 150px;}
//.gridcontainer .postimage{margin: 0 0 5px 0;}
//.gridcontainer .postimage-title {text-align: center;}
