/*Recipe Styling Begin here*/
@import "functions";
@import "variables";
//Debugging
//@import "debug";
@import "forms";
@import "recipe_archive";
@import "recipe_widgets";
@import "svg_icons";
//
//.gridcontainer h2 a{color: #333; font-size: 13px;}
//.gridcontainer .griditemleft{float: left; width: 150px; margin: 0 30px 20px 0;}
//.gridcontainer .griditemright{float: left; width: 150px;}
//.gridcontainer .postimage{margin: 0 0 5px 0;}
//.gridcontainer .postimage-title {text-align: center;}

